# Ignore generated frames
src/pg/pg1_embree/frames
.vscode/

# Ignore external libraries - opencv
src/libs/opencv/

# Windows thumbnail cache files
Thumbs.db
# Windows Installer files
*.cab
*.msi
*.msm
*.msp
# Windows Installer files
[Dd]esktop.ini
# Windows Installer
*.vssscc
# Windows Installer
*.vspscc
# Windows Installer
*.suo
*.user
*.userosscache
*.suo
# Visual Studio for Mac
.vs/
# User-specific files
*.user
*.userosscache
*.suo
*.user
*.psd
# Ignore all files in x64 folder (including Debug/Release folders)
src/pg/pg1_embree/x64/
src/pg/x64/